.producer-layout {
  display: flex;
  height: calc(100vh - 60px);
  background-color: #ffffff;
  overflow: hidden;
}

.producer-layout__content {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start; /* Cambiado de center a flex-start */
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%; /* Asegura que ocupe todo el ancho */
}

/* Responsive */
@media (max-width: 768px) {
  .producer-layout__content {
    padding: 0;
  }
}